.navbar {
   padding: 0 10px;
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
   .cart-counter {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $beige;
      background: $primary;
      position: absolute;
      z-index:1;
      top: 10px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-left: 15px;
      span {font-size:10px;}
   }
   .navbar-item.login {
      color: $yellow;
      &:hover {color: $beige;}
   }
   .shopping-cart {
      &:hover {
         .fa-shopping-cart {
            animation: shake 200ms ease-out;
         }
      }
      .fa-shopping-cart {
         color: $red;
      }
   }
   li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fa-minus-circle {
         margin-left: 10px; 
         &:hover {cursor: pointer;}
      }
   }
}
