@charset "utf-8";

// Fonts
/* nunito-light */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 200;
   src: url('../fonts/nunito-v9-latin-200.woff') format('woff')
 }
 /* nunito-regular */
 @font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/nunito-v9-latin-regular.woff') format('woff')
 }
 /* nunito-italic */
 @font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 400;
   src: url('../fonts/nunito-v9-latin-italic.woff') format('woff') 
 }
 /* nunito-900 */
 @font-face {
   font-family: 'Nunito';
   font-style: bold;
   font-weight: 900;
   src: url('../fonts/nunito-v9-latin-900.woff') format('woff')
 }
 
// FakeStore Colors
$blue: #1E4363;
$dark-blue: darken($blue, 10);
$beige: #FCF2CB;
$yellow: #FFB00D;
$orange: #FF8926;
$red: #BC2D19;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $blue;
$grey-light: $beige;
$primary: $red;
$info: $yellow;
$link: $blue;

// Update Bulma's component variables
//$body-background-color: $beige;
// Bulma Navbar
$navbar-dropdown-offset: 10px;
$navbar-breakpoint: 0px;
$navbar-item-hover-background-color: none;
$navbar-background-color: $dark-blue;
// Bulma Footer
$footer-background-color: $dark-blue;

// Import Normalize.css
@import "../node_modules/normalize.css/normalize.scss";
// Import Bulma
@import "../node_modules/bulma/bulma.sass";
// Import animations
@import "./animations.scss";
// Import nav styles
@import"./nav.scss";
// Import header styles
@import"./header.scss";

// Prevent tile stacking on mobile
// .tile.is-ancestor {
//    display: flex !important;
//    height: 400px !important;
//    .is-parent {
//       display: flex;
//    }
// }

.is-text {
   text-decoration: none !important;
}

.category-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .search-container {
      padding: 8px;
   }
}

.categories {
   li {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
   }
}

.hero-footer {
   height: 500px;
   background: url("/img/fakestore_cityscape_noBG.svg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   .container {
      justify-content: flex-end;
   }
}

#map {
   height:200px; 
   border:5px solid $beige;
   border-radius: 5px;
}

.product {
   animation: pop 300ms ease-out;
   a {
      figure, p {transition: 100ms ease-out;}
      &:hover {
         figure, p {opacity: 0.75;}
      }
      &:active {
         figure, p {opacity: 1;}
      }
   }
}

.image {
   border-radius: 5px;
   border: 5px solid $beige;
   overflow: hidden;
   margin: auto;
}

.more-like-this {
   overflow-x: scroll;
   animation: pop 300ms ease-out 300ms both, ;
}

.path {
   margin-bottom: 8px;
}

.hidden {
   visibility: hidden;
}