<% include ./partials/header %>

<div class="hero">
</div>
<section class="section">
   <div class="container has-text-centered">
      <i class="far fa-sad-tear fa-5x"></i>
      <p class="title">Page not found</p>
   </div>
</section>

<% include ./partials/footer %>