   <section class="hero hero-footer">
   </section>
   <footer class="footer">

   </footer>
   <script src="/scripts/ajax.js"></script>
   <script src="/scripts/fakeStore.js"></script>
</body>
</html>